# .editorconfig
root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,cc,c,h,hpp}]
indent_style = space
indent_size = 4
max_line_length = 120

[*.{sln,vcxproj,vcxproj.filters}]
indent_style = tab
charset = utf-8-bom

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
